/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
  overflow-x: hidden; /* Evite a barra de rolagem horizontal */
  position: relative;
}

/* Cabeçalho */
.head {
  background-color: #004c33;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logoeco {
  max-width: 100%;
  height: auto;
}

.menu {
  font-size: 20px;
  border: 0;
  color: #f2f2f2;
  background-color: #004c33;
  margin-left: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

/* Seção principal */
.urna {
  background-color: #f2f2f2;
  padding: 20px;
}

.solucao {
  text-align: center;
  color: #004c33;
  font-size: 24px;
}

.principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.eletronica {
  background-color: #004C33;
  border: #0f8118 10px solid;
  width: 100%;
  max-width: 300px;
  text-align: center;
  color: #FFFF;
  margin-top: 20px;
  padding: 20px;
}

.serv {
  color: #FFFF;
  font-size: 18px;
}

.saiba {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #66bda0;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-sobre-eco {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

.saiba:hover {
  background-color: #266d26;
  color: #fff;
}

.botao {
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

/* Seção "Sobre Nós" */
#tudo {
  width: 100%;
  background-color: #0f8118;
  color: #FFFF;
  text-align: center;
  padding: 20px;
}

.sobre {
  text-align: center;
  font-size: 40px;
  color: #0f8118;
}

/* Formulário de contato */
.formu {
  background-color: #004c33;
  width: 100%;
  padding: 20px;
  color: white;
}

.fale {
  text-align: center;
  font-size: 40px;
  color: #FFFF;
}

.formulario {
  text-align: center;
  color: white;
}

/* Rodapé */
footer {
  background-color: #0f8118;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}

/* Media queries para telas menores */
@media screen and (max-width: 768px) {
  .menu {
    margin-left: 10px;
  }

  .eletronica {
    max-width: 100%;
  }

  .solucao {
    font-size: 20px;
  }

  .serv {
    font-size: 16px;
  }

  .saiba {
    font-size: 16px;
  }

  .sobre {
    font-size: 30px;
  }

  .fale {
    font-size: 30px;
  }

  footer {
    font-size: 14px;
  }
}

/* Modal */
#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 700px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

.modal {
  display: none;
}

#open-modal {
  border: 0;
  padding: 15px;
  border-radius: 7px;
  width: 200px;
  background-color: #FFFF;
  color: #004c33;
  margin-left: 43%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
