/* Adiciona um espaçamento mínimo para todo o conteúdo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header, .servicos-container, footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logoeco {
  max-width: 100%;
  height: auto;
}

.menu {
  font-size: 20px;
  border: 0;
  color: #f2f2f2;
  background-color: #004c33;
  margin-left: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

.head {
  background-color: #004c33;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box; /* Garante que o padding não aumente a largura */
  text-align: center; /* Centraliza o texto */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.texto {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px; /* Define uma largura máxima para o texto */
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto; /* Centraliza horizontalmente */
  font-size: 20px;
  color: #004c33;
  line-height: 1.6;
}

.servicos-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 20px;
  width: 100%; /* Define a largura total da div */
  max-width: 800px; /* Define uma largura máxima */
  box-sizing: border-box; /* Garante que o padding não aumente a largura */
  overflow: hidden; /* Impede que o conteúdo ultrapasse a div */
  text-align: center; /* Centraliza o texto */
}

.serviços {
  font-size: 70px;
  text-align: center;
  color: #004c33;
  margin-top: 20px; /* Adiciona uma margem superior após o título */
}

.dv {
  background-color: #6EA4CA;
  width: 200px;
}

.um {
  width: 300px;
  border-radius: 30px;
}

.vinte, .quarenta {
  width: 300px;
  background-color: #ffff;
  margin-left: auto; /* Centralize horizontalmente */
  margin-right: auto; /* Centralize horizontalmente */
  height: 400px;
  margin-top: 100px;
  border-radius: 30px;
  text-align: center; /* Centraliza o texto */
}


.footer {
  width: 100%;
  background-color: #0f8118;
  margin-top: 100px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centralize verticalmente */
  align-items: center; /* Centralize horizontalmente */
  font-size: 18px;
  padding: 50px 10px 50px 10px;
}

.left {
  width: 100%;
  float: left;
  border-bottom: 1px #222424 solid;
  border-right: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.title-footer {
  color: #004c33; /* Cor dos títulos */
  font-family: 'DM Sans', sans-serif;
  font-weight: initial;
  font-size: 26px;
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

.title-footer span {
  color: #004C33;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}

.links {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  padding: 0;
  display: block;
  line-height: 33px;
  text-decoration: none;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  transition: 0.2s;
}

.links[href="../index.html"] {
  color: #ffffff; /* Cor branca para o hyperlink da home */
}

.footer .links a:hover {
  color: #73a077;
}

.footer .Copyright {
  font-family: 'DM Sans', sans-serif;
  color: #ffff;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

/* Responsivo para telas menores */
@media screen and (max-width: 799px) {
  .serviços {
      font-size: 30px; /* Reduz o tamanho da fonte para telas menores */
  }

  .texto {
      font-size: 16px; /* Reduz o tamanho da fonte para telas menores */
      padding: 0 20px; /* Adiciona um espaçamento lateral para telas menores */
  }
  
  body {
      overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
  }

  .serviços {
    font-size: 40px; /* Reduz o tamanho do texto para telas menores */
}
.head {
  flex-direction: column;
}

.servicos-container {
  padding: 10px;
}
.titulo {
  font-size: 1.5em;
  text-align: center; /* Centraliza o texto */
}
.texto {
  font-size: 0.9em;
}
}

/* Responsivo para telas maiores */
@media screen and (min-width: 800px) {
  .head {
    flex-direction: row;
    padding: 10px 0; /* Adiciona o preenchimento nas laterais */
  }
}

/* Centralize o conteúdo principal */
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
