* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  height: auto;
}

.head {
  background-color: #004c33;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logoeco {
  width: 100%;
  max-width: 395px;
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.menu {
  font-size: 20px;
  border: 0;
  color: #f2f2f2;
  background-color: #004c33;
  padding: 5px 10px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .head {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-top: 20px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
} 


.menu {
  font-size: 20px;
  border: 0;
  color: #f2f2f2;
  background-color: #004c33;
  padding: 5px 10px;
  text-decoration: none;
}

.serviços {
  font-size: 70px;
  text-align: center;
  color: #004c33;
  margin-top: 20px;
}

.teste{
  background-image: url(../assets/Lixão.webp);
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.aterrobg{
  background-image: url(../assets/Aterro\ controlado.webp);
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.aterrosanitariobg{
  background-image: url(../assets/aterro\ sanitario.webp);
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.Inertesbg{
  background-image: url(../assets/Aterro\ de\ inertes.webp);
  width: 300px;
  height: 200px;
  border-radius: 10px;

}



.card{
  background-color: white;
  border-radius: 30px;
  
}

.lixoes,
.aterro,
.sanitario,
.inertes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.texto {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.arvr {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.footer {
  background-color: #0f8118;
  color: #fff;
  text-align: center;
  padding: 50px 10px;
}

.left {
  border-bottom: 1px #222424 solid;
  border-right: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.title-footer {
  font-size: 26px;
  margin-bottom: 15px;
}

.title-footer span {
  font-weight: bold;
}

.links {
  margin-bottom: 20px;
}

.links a {
  display: block;
  line-height: 33px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: 0.2s;
}

.links a:hover {
  color: #73a077;
}

.Copyright {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

#open-modal:hover,
#open-dois:hover,
#open-tres:hover,
#open-quatro:hover {
  background-color: #004c33;
  color: #f2f2f2;
  transform: scale(1);
  transition: 1s;
  opacity: 100;
}


#open-modal,
#open-quatro,
#open-tres,
#open-dois {
  display: block; /* Para garantir que ocupem a largura total disponível */
  border: 0;
  padding: 15px;
  border-radius: 7px;
  width: 200px;
  background-color: #ffff;
  color: #004c33;
  margin: 20px auto 0; /* Define a margem superior e inferior como 20px e centraliza horizontalmente */
  transform: scale(0.9);
  
}

#open-dois {
  margin-left: 50px;
}

#open-tres {
  margin-left: 50px;
}

#open-quatro {
  margin-left: 50px;
}

button:hover {
  opacity: 1;
}

#fade,
#fadedois,
#fadetres,
#fadequatro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal,
#modaldois,
#modaltres,
#modalquatro {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 700px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade,
#modal,
#fadedois,
#modaldois,
#fadetres,
#modaltres,
#fadequatro,
#modalquatro {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-header,
.modal-header-dois {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #004c33;
}

.modal-body p {
  margin-bottom: 1rem;
}

#modal.hide,
#fade.hide,
#modaldois.hide,
#fadedois.hide,
#modaltres.hide,
#fadetres.hide,
#modalquatro.hide,
#fadequatro.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide,
#modaldois.hide,
#modaltres.hide,
#modalquatro.hide {
  top: 0;
}

#close-modal,
#close-dois,
#close-tres,
#close-quatro {
  border: 0;
  border-radius: 20px;
  padding: 20px;
  background-color: #004c33;
  color: #ffff;
}

.arvr {
  width: 500px;
  margin-left: 120px;
}
